version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - '6379:6379'

  web:
    build: .
    command: ./manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - '8000:8000'
    environment:
      - DEBUG=1
    depends_on:
      - db
      - redis

  worker:
    build: .
    command: celery -A shop_backend worker -l info
    volumes:
      - .:/code
    depends_on:
      - redis
      - db

volumes:
  pgdata:
